.Home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.countries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 50px;
  width: 20%;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
}
